html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
.type {
  text-align: center;

  font-size: 2rem;
  /* font-weight: bold; */
  line-height: 1.8;
  margin: 0 auto;
  width: 55rem;
  color: #51cf66;
  /************************/
  /*neon effect to text*/
  /***********************/
  text-shadow: 0 0 7px #51cf66, 0 0 10px #51cf66, 0 0 180px #0fa;
}
.title {
  margin: 0 auto;
  text-align: center;
  color: orangered;
  font-size: 5.5rem;
}
.typing-section {
  margin: 0 auto;
  padding: 3rem 3rem;
  text-align: center;
  background-color: #111;
  width: 55rem;
  height: 17rem;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn {
  padding: 2.4rem 3.2rem;
  background-color: #ffff00;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  transition: all 0.4s;
  cursor: pointer;
  margin-bottom: 8rem;
  color: orangered;
  font-family: "Press Start 2P", cursive;
}
.btn:hover {
  background-color: #00ffee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #4263eb;
}
/***********************************************/
/******Blinking line animation and style*/
/***********************************************/
span {
  animation: blinker 0.3s linear infinite;
  color: #51cf66;
  font-size: 3rem;
  margin-left: 0.5rem;
  line-height: 1;
}
@keyframes blinker {
  50%,
  50% {
    opacity: 0;
  }
  3%,
  97% {
    opacity: 100;
  }
}
